  <header style="margin-bottom: 100%;" style="padding: 20px 0 20px 0;">
    <h1 class="logo">My Fitness Web</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle" />
    <nav>
      <ul>
        <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/Training" routerLinkActive="active">Training</a></li>
        <li><a routerLink="/About" routerLinkActive="active">About</a></li>
        
        <li><a routerLink="/Contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>
