<!-- Footer -->
<footer class="page-footer font-small pt-4 " style="margin-top: 3%;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MY FITNESS WEB</h5>
        <p>we transform here.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a routerLink="/FAQ" routerLinkActive="active">FAQ</a>
          </li>
          <li>
            <a routerLink="/Franchise" routerLinkActive="active">Franchise</a>
          </li>
          <li>
            <a routerLink="/T&C" routerLinkActive="active">T & C</a>
          </li>
          <li>
            <a routerLink="/Continuedoperations" routerLinkActive="active">Continued operations</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">JOIN US BY LOGINING UP HERE.</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">LOGIN </a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright :
    My Fitness Web
  </div>
  <!-- Copyright -->

  

</footer>
<!-- Footer -->