 /* about css */
.showcase{
  position: relative;
  z-index: 1;
}
.showcase img{
  width:100%;
  height: auto;
  max-height:90vh;
  object-fit: fill;
}
.showcase .overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}
.caption{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #fff;
}
.caption h1{
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  font-family: 'Alegreya Sans SC', sans-serif;;
}
.caption p{
  font-size: 20px;
  line-height: 25px;
  font-weight: 500
}
.tour_a_gym{
  border-radius: 60px;
  padding: 10px 30px;
  border: 1px solid #000;
  outline: none;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.tour_a_gym:hover{
  background-color: #231f2b;
  color: white;
  size: initial;
  border:1px solid #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.box{
  margin-bottom: 15px;
}
.box .imgb img {
  height: 120px;
  object-fit: fill;
}
.box .txtb h4 {
  font-size: 30px;
  padding: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.box .txtb p {
  font-size: 16px;
  line-height: 30px;
}