<div>
    <app-header></app-header>
</div>
<br>
<div class="divone">
    <img src="/assets/logo/worko.jpg" width="100%" height="700px">
</div>  
<div class="divtwo">
    <h1>Why Join Anytime Fitness?</h1>
    <br>
</div>
<div style="padding-top: 30px;">
<app-feedback></app-feedback>
</div>
<div class="divthree">        
    <p>If you’re looking to join a supportive, welcoming gym community, with people of all fitness levels who want to see you succeed, you’ve come to the right place.</p>
</div>
<div class="divfour">
    <button class="button1"  style="padding: 7px 30px 10px 30px;">Tour A Gym</button>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/logo/cardlogoone.jpg" width="130%">
        <br>
       
      </div>
      <br>
    </div>
    <div class="column">
      <div class="card">
                <img src="/assets/logo/cardlogotwo.jpg" width="130%">
                
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/logo/cardlogothree.jpg " width="130%">
      </div> 
    </div>
    <br>
    
  </div>
  <div class="row" style="padding-top: 10px;">
      <div class="column" style="margin-left:260px !important">
          <img src="/assets/logo/applelogo.png" width="35%">
          <br>
          <br>
          <h4>Support</h4>
          <br>
          <br>
          <p>Every member gets a free, personalized Get Started Plan when they join. Our friendly, professional staff is trained to help you along your fitness journey, no matter how much support you need.</p>
      </div>
      <br>
      <div class="column" style="margin-left:200px !important">
        <img src="/assets/logo/dumbelllogo.png" width="35%">
        <br>
        <br>
        <h4>Tools & Training</h4>
        <br>
        <br>
        <p>Getting to a healthier place is about more than going to the gym. That’s why we offer personal training and classes when you’re here, and the right tools to keep you on track when you’re not.</p>

    </div>
  </div>

<br>
<div class="row" style="padding-top: 10px;">
    <div class="column" style="margin-left:260px !important">
        <img src="/assets/logo/timelogo.png" width="35%">
        <br>
        <br>
        <h4>Convenience</h4>
        <br>
        <br>
        <p>24/7 access to more than 4,500 locations worldwide and nearly 100 in India . You’re joining the most convenient gym on the planet!</p>
    </div>
    <br>
    <div class="column" style="margin-left:200px !important">
      <img src="/assets/logo/heartlogo.png" width="35%">
      <br>
      <br>
      <h4>Community</h4>
      <br>
      <br>
      <p class="para">You’re not just joining a gym. You’re joining a supportive community of like-minded people who are here to give you the encouragement you need.

    </p>

  </div>
</div>

<br>
<div>
    <button class="button2"  style="padding: 7px 30px 10px 30px;">FIND YOUR LOCAL FITNESS WEB</button>
</div>
<br>
<div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/logo/cardlogoone.jpg" width="130%">
        <br>
       
      </div>
      <br>
    </div>
    <div class="column">
      <div class="card">
                <img src="/assets/logo/cardlogotwo.jpg" width="130%">
                
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="/assets/logo/cardlogothree.jpg " width="130%">
      </div> 
    </div>
    <br>
    
  </div>
<div>
    <app-footer></app-footer>
</div>