<div>
    <app-header></app-header>
</div>
  <div class=" showcase">
    <div class="overlay"></div>
    <img src="/assets/logo/worko.jpg" width="1920" height="700" alt="banner-image" class="img-fluid">
    <div class="caption">
      <h1>Why Join Anytime Fitness?</h1>
      <p>If you’re looking to join a supportive, welcoming gym community, with people of all fitness levels who want to see you succeed, you’ve come to the right place.</p>
      <button class="tour_a_gym">Tour A Gym</button>
    </div>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-xs-12  col-md-4 ">
        <div class="card">
          <img src="/assets/logo/cardlogoone.jpg" alt="service1" class="img-fluid">
        </div>
      </div>
      <div class="col-xs-12  col-md-4 ">
        <div class="card">
          <img src="/assets/logo/cardlogotwo.jpg" alt="service2" class="img-fluid">
        </div>
      </div>
      <div class="col-xs-12  col-md-4 ">
        <div class="card">
          <img src="/assets/logo/cardlogothree.jpg" alt="service3" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="box text-center">
          <div class="imgb">
            <img src="/assets/logo/applelogo.png" class="img-fluid">
          </div>
          <div class="txtb">
            <h4>Support</h4>
            <p>Every member gets a free, personalized Get Started Plan when they join. Our friendly, professional staff is trained to help you along your fitness journey, no matter how much support you need.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="box text-center">
          <div class="imgb">
            <img src="/assets/logo/dumbelllogo.png" class="img-fluid">
          </div>
          <div class="txtb">
            <h4>Tools & Training</h4>
            <p>Getting to a healthier place is about more than going to the gym. That’s why we offer personal training and classes when you’re here, and the right tools to keep you on track when you’re not.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="box text-center">
          <div class="imgb">
            <img src="/assets/logo/timelogo.png" class="img-fluid">
          </div>
          <div class="txtb">
            <h4>Convenience</h4>
            <p>24/7 access to more than 4,500 locations worldwide and nearly 100 in India . You’re joining the most convenient gym on the planet!</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="box text-center">
          <div class="imgb">
            <img src="/assets/logo/heartlogo.png" class="img-fluid">
          </div>
          <div class="txtb">
            <h4>Community</h4>
            <p>You’re not just joining a gym. You’re joining a supportive community of like-minded people who are here to give you the encouragement you need.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="tour_a_gym d-block m-auto">FIND YOUR LOCAL FITNESS WEB</button>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <img src="/assets/logo/cardlogoone.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <img src="/assets/logo/cardlogotwo.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <img src="/assets/logo/cardlogothree.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
<div>
    <app-footer></app-footer>
</div>