<div>
    <app-header></app-header>
</div>

<div class="contact_header" >
    <h1>We’d Love to Hear from You</h1>
    <p>To make sure you’re getting connected with the appropriate Anyt
        ime Fitness franchise group, please refer to the list of scenarios below.</p>

</div>
<div class="container pb-5">
    <div class="feedback">
        <h1>Give us feedback!</h1>
        <p>To provide feedback for a specific club (e.g. great service, suggestions, etc.) click the button below.</p>
        <button class="pl-3 pr-3">SUBMIT FEEDBACK</button>
    </div>
</div>
<div class="container-fluid">
    <div class="finding_a_club">
        <h1>I want to sign up for a membership or find a club.</h1>
        <p>Anytime Fitness clubs are independently owned and operated. To learn more about a club close to you, please contact them directly.</p>
        <p>If you would like to join or find a specific Anytime Fitness club, please use the Club Locator. Once you’ve found the desired club, their address, phone, email, and web information will be displayed.</p>
    </div>    
</div>    

<div class="container pt-3" >
    <div class="billing_inquiry">
        <h1>I have billing errors or need to change account information.</h1>
        <p>All billing inquiries are handled by ABC Financial Services. They can be contacted at:</p>
        <p>888-827-9262 (toll-free)</p>
        <p><a href="#">www.abcfinancial.com</a></p>
    </div>    
</div>

<div class="container-fluid">
    <div class="cancel_membership">
        <h1>I want to cancel my membership.</h1>
        <p>As each club is independently owned and operated, and each state has different cancellation policies, please review your Membership Agreement prior to contacting your home club. Your specific cancellation policy will be outlined on that agreement.</p>
        <p> To cancel your membership contact your home club directly. Use the Club Locator to find their contact information.</p>
    </div>
</div>    

<div>
    <app-footer></app-footer>
</div>