<div>
    <app-header></app-header>
</div>
<br>
<div class="divvone">
    <h1 class="headone">We’d Love to Hear from You</h1>
    <p class="pone">To make sure you’re getting connected with the appropriate Anyt
        ime Fitness franchise group, please refer to the list of scenarios below.</p>

</div>
<br>
<div>
    <h1 class="headtwo" >Give us feedback!</h1>
    <p class="ptwo">To provide feedback for a specific club (e.g. great service, suggestions, etc.) click the button below.</p>
    <br>

</div>
<div>
    <button class="buttone" style="padding: 10px 30px 10px 30px;">SUBMIT FEEDBACK</button>
</div>
<br>
<div class="divvtwo">
    <h1 class="headthree">I want to sign up for a membership or find a club.</h1>
    <p class="pthree">Anytime Fitness clubs are independently owned and operated. To learn more about a club close to you, please contact them directly.</p>
    <p class="pthree">If you would like to join or find a specific Anytime Fitness club, please use the Club Locator. Once you’ve found the desired club, their address, phone, email, and web information will be displayed.</p>
</div>    
<br>
<div>
    <h1 class="headfour">I have billing errors or need to change account information.</h1>
    <p class="pfour">All billing inquiries are handled by ABC Financial Services. They can be contacted at:</p>
    <p class="pfour">888-827-9262 (toll-free)</p>
    <p class="pfour"><a href="#">www.abcfinancial.com</a></p>
</div>
<br>
<div class="divthree">
    <h1 class="headfour">I want to cancel my membership.</h1>
    <p class="pfour">As each club is independently owned and operated, and each state has different cancellation policies, please review your Membership Agreement prior to contacting your home club. Your specific cancellation policy will be outlined on that agreement.</p>
    <p class="pfour"> To cancel your membership contact your home club directly. Use the Club Locator to find their contact information.</p>
</div>

<div>
    <app-footer></app-footer>
</div>