<div>
  <app-header></app-header>
</div>
<br>
    <div class="container" class="jumbotron">
    
      <div >
        <h1 class="heading mt-5">Coaching & Training Services</h1>
        <p class="description">Whether you’re new to working out or a fitness pro, we’re here to provide a variety of training options, guidance and friendly support
          to help you stay on track and reach your goals. Get to a healthier place today!</p>
      </div>
      <div class="find_your_gym ">
        <button>Find Your Gym to learn more.</button>
      </div>
    </div>  
      <div class="container-fluid"> 
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="/assets/logo/training1.jpg">
              <br>
              <p> Through a short survey, conversation and a movement assessment, our team will prescribe the perfect program to get you started and on track to meet your fitness goals.</p>
            </div>
          </div>
          <div class="column">
            <div class="card">
                      <img src="/assets/logo/training2.jpg">
                      <bR>

              Through a short survey, conversation and a movement assessment, our team will prescribe the perfect program to get you started and on track to meet your fitness goals.
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="/assets/logo/training3.jpg">
              <br>
              
              Through a short survey, conversation and a movement assessment, our team will prescribe the perfect program to get you started and on track to meet your fitness goals.</div>
          </div>
      </div>
  </div>
   <div class="find_gym">
      <p>
      Learn which training services are offered at your neighborhood gym.
      
      <br>
      
      We look forward to meeting you!

      </p>
      <button class="Explore_your_gym">Find Your Gym</button>
    </div>

<div>
  <app-footer></app-footer>
</div>