.home_logo_mini{
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    height: 70%;
    width: 68%;
    /* z-index: -99; */
}           
.home_logo{
    margin-top: 80px;
    /* z-index: 0;   */
}
.span{
    color: hsl(275, 41%, 48%);
}
.paragraph{
    margin-left:180px ;
    font-size: 26px;
    width: 50%;
    padding-left: 30px;
    margin-top: 30px;
    line-height: 32px;

}
.columntwo{
    padding-right: inherit;
}