<div>
    <app-header></app-header>

</div>
<br>

<div class="imageone">
    <img src="/assets/logo/homelogo.jpg" width="100%">
    

</div>
<div class="imagetwo">
    <img src="/assets/logo/healthlogo.jpg" width="50%">
</div>
<br>
<div>
    <div class="row">
        <div   class="column">
            <p class="pone">
                It’s time for a change again, and this time, our call is to
                <br>
                <span style="color: #8348AD;">"Let’s make healthy happen"</span>
            </p>
        </div>
        <div class="columntwo">
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
    </div>
</div>
<div>
    <app-footer></app-footer>
    
</div>